{% extends 'base.html' %}


<div class="container">
    {% block header %}
    <div class="header">
        Chartle
    </div>
    {% endblock %}

    {% block dropdowns %}
    <div class="dropdown-container">
        <select id='chooseDecade' class="form-select" aria-label="Default select example" onchange="chooseDecade()">
        </select>

        <select id='chooseYear' class="form-select" aria-label="Default select example" onchange="chooseYear()">
        </select>

        <select id='chooseWeek' class="form-select" aria-label="Default select example" onchange="chartDetail()">
        </select>

        <div class="or">
            <p>or</p>
        </div>

        <button id='randomizeBtn' type="button" class='btn btn-primary' onclick="getRandomChart()">Randomize
        </button>
    </div>
    {% endblock %}

    {% block topLogInBtn %}
    <div class="button-container">
        <div><button id='loginBtn' type="button" class='btn btn-primary' onclick="login()">Log into Spotify to Create
                Playlist
            </button>
        </div>
        <div><button id='createPL' type="button" class='btn btn-primary'>Create
                Playlist in
                Spotify
            </button>
        </div>
    </div>
    {% endblock %}


    {% block editNameModal %}
    <div id="editPlaylistName" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="text">
                <p class="customPLname">Customize playlist name or use default shown:</p>
            </div>
            <div class="input-group mb-3">
                <input type="text" id='nameInput' class="form-control" placeholder="" aria-label=""
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group-prepend">
                <button id='editNameBtn' class="btn btn-outline-secondary" type="button">Submit</button>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block confirmationModal %}
    <div id="confirmationModal" class="modal">
        <div class="conf-modal-content">
            <span class="close">&times;</span>
            <div class="confirm-text">
                <p id="msg">Playlist created! Check your Spotify library.</p>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block chart %}
    <div id='showChart' name='showChart'></div>
    {% endblock %}

</div>