* * {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin-right: 10px;
}

p {
    color: white;
    height: 0px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* margin-bottom: 2rem; */
}


/*  DROPDOWNS ********************* */
.form-select {
    border-radius: 20px;
    width: 120px;
    transition: background-color 0.5s ease-in-out;
    border: 1px solid black;
    text-align: center;
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232596be' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    color: red;
}

/*  BUTTONS ********************* */
#myBtn {
    border-radius: 50px;
    margin-left: 10px;
    width: 100px;
}

button {
    margin: 5px;
}

#chooseWeek {
    width: 190px;
}

.btn-primary {
    color: black;
    background-color: orange;
    border: 1px solid black;
    border-radius: 20px;
}

#randomizeBtn {

    color: #d7dadc;
    background-color: #434343;
    border: 1px solid #acacac;
}

#randomizeBtn:hover {
    border: 1px solid white;
    color: #d7dadc;
    color: white;
    background-color: black;
}

.text {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    /* height: 40px; */
    font-style: italic;
}

/*  DIVS ********************* */
.header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
    font-size: 50px;
    font-family: Luminari;
    animation: color-change 10s infinite;
    border-radius: 50px;
    border: 1px solid #717171;
}

.splash-header {
    font-size: 50px;
    font-family: Luminari;
}

.splash-container {
    margin: auto;
    animation: color-change 10s infinite;
    border-radius: 9999px;
    border: 1px solid #717171;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash {
    text-decoration: none;
    animation: color-change 10s infinite;
}

@keyframes color-change {
    0% {
        color: green;
    }

    50% {
        color: blue;
    }

    100% {
        color: green;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: .75rem;
    border-radius: 50px;
    border: 1px solid #717171;
    padding: 10px;
}

.track-artist-container {
    display: flex;
    text-align: left;
    align-items: center;
    border-radius: 50px;
}

#showChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #717171;
    border-radius: 50px;
    padding: 20px;
    gap: .5rem;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding-bottom: 20px;
    padding-top: 15px;
}

@media only screen and (min-width: 420px) {
    .text {
        margin-left: 3px;
        margin-right: 3px;
    }

    #showChart {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .modal-content {
        width: 70%;
    }
}

@media only screen and (min-width: 770px) {
    #showChart {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: .5rem;
    }

    .dropdown-container {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    .modal-content {
        width: 60%;
    }

    .or {
        margin-bottom: 13px;
    }
}

@media only screen and (min-width: 1024px) {
    #showChart {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: .5rem;
    }

    .modal-content {
        width: 60%;
    }

    .or {
        margin-bottom: 13px;
    }
}

@media only screen and (min-width: 1200px) {
    #showChart {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        gap: .5rem;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .dropdown-container {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        height: 100px;
        border-radius: 50px;
    }

    .modal-content {
        width: 60%;
    }

    .or {
        margin-bottom: 13px;
    }
}

.img_url {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    margin-left: -3px;
    border: 1px solid #434343;
}


.track {
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
    /* font-size: 11px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track:hover {
    color: white;
}

.track-artist-container,
.btn-primary,
.form-select,
.modal-content {
    color: #d7dadc;
    background-color: #434343;
    border: 1px solid #717171;
}

.btn-primary:hover {
    border: 1px solid white;
    background-color: #04aa6d;

}

.form-select:hover {
    border: 1px solid white;
    color: white;
    background-color: black;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto;
    border: 1px solid #717171;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    color: black;
    border-radius: 50px;
}

#editNameBtn {
    color: white;
    border-radius: 20px;
    background-color: black;
    border: solid 1px rgb(148, 190, 245);
    width: 100px;
    margin-bottom: 15px;
}

#nameInput {
    border-radius: 50px;
    border: solid 2px rgb(148, 190, 245);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

option {

    text-align: left;
    background-color: #434343;
    color: white;
}

.input-group {
    width: 80%;
}

.loginLink,
.loginLink:hover,
.loginLink:visited {
    text-decoration: none;
    color: #d7dadc;
}

a :hover {
    text-decoration: none;
    color: #d7dadc;
}

#loginBtn {
    background-color: rgb(202, 33, 33);
    color: black;
}

/* #loginBtn :hover {
    border: 1px solid white;
    background-color: #04aa6d;
} */